@model IEnumerable<iFeedback.Models.Feedback>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<!-- chatting -->
<div class="data-tables">
    <div class="row">
        <div class="col-lg-12 chart-grid mb-4">
            <div class="card card_border p-4">
                <div class="card-header chart-grid__header pl-0 pt-0">
                    @ViewData["page-title"]
                </div>
                <div class="messaging">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Customer Email</th>
                                <th>Customer Phone</th>
                                <th>Customer Rating</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() > 0)
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.CustomerName</td>
                                        <td>@item.CustomerEmail</td>
                                        <td>@item.CustomerPhone</td>
                                        <td>
                                            <input type="number" name="inputName" id="rating2" class="rating"
                                                   readonly data-readonly value="@item.Rating" />
                                        </td>
                                        <td>
                                            <a asp-action="Details" title="@item.Comment" asp-controller="Dashboard" asp-route-customerId="@item.Id">View Comment</a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5" class="text-center">No Feedback at the moment</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- //chatting -->
